@import url(https://fonts.googleapis.com/css?family=Nunito);

.preview_table th, .preview_table td{
	vertical-align: middle;
	text-align: center;
}

.preview_table, .preview_table tr, .preview_table th, .preview_table td {
	border: 1px solid black;
}

.preview_table tr th.row-header {
	background-color: #8c8c8c;
}

/*.preview_table th.row-header {
	background: #11aa22;
	color: white;
}

*/